server:
  address: ADDRESS
  user: USERNAME
  password: PASSWORD
libraries:
- library_name: Podcasts
  playlists:
  - playlist_name: Daily
    include_in_progress: True
    include_finished: False
    sort_order:
    # Possible values: "tier", "roundrobin", "shuffle", or any combination. 
    # tier: podasts are grouped and sorted by tier, with the lowest tier value listed first.
    # roundrobin: all episodes are sorted roundrobin style, e.g.: (podcast 1: episode 101, episode 102, episode 103; podcast 2: episode 201; podcast 3: espisode 301, episode 302) → 101, 201, 301, 102, 302, 103C.
    # shuffle: all episodes are sorted randomly, ignoring their tier value.
    # tier + roundrobin: podcasts are grouped and sorted by tier and then episodes are sorted roundrobin within each tier.
    # tier + shuffle: podcasts are grouped and sorted by tier and then episodes are sorted randomly within each tier.
    # roundrobin + shuffle: all podcasts are sorted roundrobin, with the episodes of each podcast randomized.
    # tier + roundrobin + shuffle: podcasts are grouped by tier and sorted by roundrobin, with the episodes of each podcast randomized.
    - tier
    - roundrobin
    - shuffle
    feeds:
    # Each feed must have feed_name (exact name of the podcast in ABS), tier (integer), sort ("newest" or "oldest"), and count (integer).
    # "Count" is how many of that podcasts episodes to include in the playlist. 
    - feed_name: The Daily
      tier: 2
      sort: newest
      count: 2
    - feed_name: Up First from NPR
      tier: 1
      sort: newest
      count: 1
    - feed_name: The Best of Car Talk
      tier: 3
      sort: oldest
      count: 5

